# Virtual environment
venv/
__pycache__/
*.pyc

# Environment variables / secrets
.env

# Data
data/raw/*
!data/raw/.gitkeep

# OS/editor
.DS_Store
.vscode/
*.egg-info/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep